html {
  font-family: 'IBM Plex Serif', georgia, serif;
  line-height: 1.4em;
  color: black;
  font-weight: normal;
}


* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: inherit;
}
strong {
  font-weight: 600;
}

header, footer {
  background: rgba(200,100,200, 0.1);
}
header, section, footer {
  display: block;
  position: relative;
  overflow: hidden;
}
header > div, section > div, footer > div {
  display: flow-root;
  max-width: 800px;
  margin:0px auto;
  padding: 2em;
}
h2 {
  margin-bottom: 1.4em;
}
div > h2::before,
h2.logo::before {
  content: " ";
  display: block;
  width: 20px;
  background-color: rgba(200,100,200, 0.4);
  height: 3px;
  margin-top: -5px;
  margin-bottom: 3px;
}
h2.logo::before {
  background: purple;
  height: 1.4em;
  margin-top: 0;
  margin-bottom: 1.4em;
}
header > div > * {
  display: block;
}

form.subscribe {
  float: right;
  clear: right;
  width: 120px;
  text-align: right;
  padding: 0;
  font-family: "IBM Plex Sans Condensed", helvetica, sans-serif;
}
form.subscribe strong {
  font-weight: normal;
  display: block;
  font-size: 90%;
  text-transform: uppercase;
  letter-spacing: 1px;
}
form.subscribe a {
  display: block;
}
form.subscribe input {
  display: inline-block;
}
form.subscribe input[type=email] {
  height: 1.4em;
  padding: 4px;
}
form.subscribe input[type=submit] {
  width: 40px;
}
header p {
  margin-top: 2.8em;
}
input {
  font-family: inherit;
  font-size: inherit;
}

header > div > a {
  text-decoration: none;
}

h2.logo {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 1em;
  color: black !important;
}

div > h2, h2.logo, nav {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 90%;
}
nav a {
  display: inline-block;
  padding-right: 1.4em;
}

h1 {
  font-size: 2em;
  line-height: 1.4em;
  font-weight: 900;
}
h1 + p {
  padding-top: .7em;
  font-size: 120%;
  font-style: italic;
}

h1, div > h2, h2.logo, nav, dt, input {
  font-family: "IBM Plex Sans Condensed", helvetica, sans-serif;
}

ul, ol {
  margin-top: 0.6em;
  margin-bottom: 0.8em;
  margin-left: 1.4em;
}

code {
  font-family: "IBM Plex Mono", monospace;
}

dl {}
dt {
  font-weight: bold;
}
* + dt {
  margin-top:1.4em;
}
dd {
  margin-top: 0.6em;
}
dd strong {
  font-style: italic;
  font-weight: normal;
}
img.right,
.right {
  float: right;
  clear: right;
  width: 150px;
  margin-left: .7em;
  box-shadow: 0px 2px 2px rgba(100,50,100, 0.4);
  border: 1px solid white;
  border-radius: 2px;
}

.video.right {
  height: 94px;
}

a:link, a:visited {
  color: purple;
}

ul.posts li {
  margin-bottom: .7em;
}

ul.posts li a {
  font-size: 1.2em;
  font-style: italic;
}

ul.posts li span {
  display: block;
  color: gray;
}

article h2 {
  font-family: "IBM Plex Sans Condensed", helvetica, sans-serif;
  font-size: 1.4em;
  font-weight: 800;
  line-height: 1em;
  margin-top: 2em;
  margin-bottom: .5em;
}


article h3 {
  font-family: "IBM Plex Sans Condensed", helvetica, sans-serif;
  font-size: 1.2em;
  font-weight: 800;
  line-height: 1em;
  margin-top: 1.2em;
  margin-bottom: .6em;
}


article p + p {
  margin-top: .7em;
}

article hr {
  margin-top: .7em;
  margin-bottom: .7em;
}

@media screen and (min-width: 450px) {
  h2.logo {
      margin-bottom: 0;
  }

  header h2 {
      float: left;
      clear: both;
      width: 150px;
  }
  header h2 + * {
      padding-left:150px;
      padding-right: 210px;
  }
}

@media screen and (min-width: 750px) {

  header > div > h2, section > div > h2, h2.logo section > div > h2, footer > div > h2 {
      float: left;
      clear: both;
      width: 150px;
  }


  header > div > h2 + *,
  section > div > h2 + * {
      padding-left:150px;
      padding-right: 210px;
  }

  h1, h1+p {
      padding-left: 150px;
  }

  img.right, .right {
      margin-left: 1.4em;
      margin-right: -210px;
      width: 200px;
  }
  .video.right { height: 125px; }
  form.subscribe {
      width: 200px;
      text-align: left;
  }
  form.subscribe strong {
      margin-bottom: 1.5em;
  }
}

pre {
  margin-top: 1.4em;
  margin-bottom: 0.7em;
}