<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,400;0,600;1,100;1,400;1,600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,400;0,600;1,100;1,400;1,600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
        
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <link rel="alternate" type="application/rss+xml" title="All posts" href="/atom.xml" />
        <link rel="alternate" type="application/rss+xml" title="Clojure posts" href="/clojure.xml" />
        <link rel="icon" href="/img/favicon.png" />

        <!-- Privacy-respecting analytics -->
        <script src="https://cdn.usefathom.com/script.js" data-site="GBQNSZEZ" defer></script>
    </head>
    <body>
      <header>
        <div>
            <a href="/">
              <h2 class="logo">Adam<br>Solove</h2>
            </a>
            <div>
                <nav>
                    <a href="/">Home</a>
                    <a href="/blog">Blog</a><a href="/atom.xml">RSS</a>
                </nav>
            </div>
        </div>
    </header>

    {{content}}

    <footer>
        <div>
            <h2><a name="contact">Contact</a></h2>
            <nav>
                <a href="mailto:asolove@gmail.com">Email</a>
                <a href="https://www.github.com/asolove/">GitHub</a>
                <a href="https://www.linkedin.com/in/asolove/">LinkedIn</a>
                <a href="/atom.xml">RSS</a>
            </nav>
        </div>
    </footer>
    </body>
</html>
