<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/sketchpad.css" />

    <link
      rel="alternate"
      type="application/rss+xml"
      title="All posts"
      href="/atom.xml"
    />
    <link rel="icon" href="/img/favicon.png" />

    <!-- Privacy-respecting analytics -->
    <script
      src="https://cdn.usefathom.com/script.js"
      data-site="GBQNSZEZ"
      defer
    ></script>
  </head>
  <body>
    <header></header>

    <nav class="top">
      <ol>
        <li><a href="/sketchpad/">Home</a></li>
        <li><a href="/sketchpad/impact">Why it matters</a></li>
        <li><a href="/sketchpad/recreating">Technical details</a></li>
        <li><a href="/sketchpad/references">References</a></li>
      </ol>
    </nav>

    <article>{{content}}</article>

    <footer></footer>
  </body>
</html>
